.form-control {
    text-align: center;
}

.logIn-form {
    width: 300px;
    margin: auto;
    text-align: center;
}

.logIn {
    text-align: center;
    margin: 30px;
}

.form-group {
    text-align: center;
}