*{
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;	
}

.wrapper{
	display:flex;
	justify-content:center;
	
	align-content:center;
}
.set{
	display:flex;
	flex-direction:row;
}
html{
	height: 100%;

 overflow-y: scroll;
 overflow-x: hidden;
 
}
body{
 background: #fff;
 margin:0;
 padding:0;
 display:none;
 height: 100%;
}
::-webkit-scrollbar {
    display: none; 
}


        

.container {
	z-index:-100;
	width:80%;
	height:300px;
    right:10%;
	background-color:rgba(255, 255, 255,0.8);
	border:1px solid rgba(255, 255, 255,0.8);
	border-radius:15px;
	margin-bottom:25px;

	position:absolute;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-content:center;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),
	               0 0 40px rgba(0, 0, 0, 0.1) inset;

	
}
.buttons{
	z-index:0;
}
ul{
	list-style:none;
	
	
	
}

#questions{
font-size:1.25em;
text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.86);
display:block;
text-align:center;
margin:0 auto;
margin-right:2.5%;
animation-duration: 1s;
animation-delay: 0;

}

.clearfix{
  content: "";
  display: table;
  clear: both;
	
}
title{
	visibility:hidden
}
.three{
	order:-1;	
}
.noselect,h1,li,a{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;  
}
#topic{
display:block;
margin:0 auto;
text-align:center;
animation-duration: .5s;
animation-delay: 0;
}
.header {
	width:100%;
	height:75px;
	background:#48B484;
	margin-bottom:20px;
	opacity:0.95;
	border-bottom: 5px #eee solid;
	display:flex;
	justify-content:space-between;
	z-index:-90;
}
.logo{
	position:relative;
	transform:scale(0.8);
	margin-left:40px;
	align-self:center;
}

ul{
	display:flex;
	flex-direction:row;
	flex-grow:1;
	justify-content:flex-end;
}
li{
	background-color:rgba(255,255,255,.2);
	color:#fff;
	align-self:center;
}



/*making moving borders*/
svg line{
	stroke-width:2;
	stroke: rgb(44, 161, 108);
	fill: none;
	transition:transform 1s ease-out;
	transition: 1s;
}

.main-button {
	transition: 1s  ease-out;
	background: url(#image);
}
.main-button:hover line {
	stroke-width:4;
}
.main-button:hover .top{
	transform:translateX(150px);
	
}
.main-button:hover .bottom{
	transform:translateX(-150px);
	
}
.main-button:hover .right{
	transform:translateY(30px);
	
}
.main-button:hover .left{
	transform:translateY(-30px);
	
}

.main-button:hover{
    background-color:rgba(112, 206, 163,0.7);
	  cursor: pointer;
  
}
.main-button:hover text{
    fill:#fff;
}

text{
	transition: .5s .3s;
	-moz-transform: translateY(5px);


}
.main-button .left,
.main-button .right {
	stroke-dasharray:40,20,40;
}
.main-button .top
 {
	stroke-dasharray:20,140,160;
}
.main-button .bottom {
	stroke-dasharray:160,140,20;
}
.primary{
	transform:translateY(0);
}

#test {
	width:100%;
	display:block;
	height:250px;

}
.navelement{
	fill:transparent;
	
	
} 

.scaler{
	transform:scale3d(.9,.9,1);
	transition:.5s;

}
.navelement line {
		stroke:white;
		overflow:hidden;
		transition:.5s;
}
.navelement .top,
.navelement .bottom
{
	stroke-dasharray:160;
}
.navelement .right,
.navelement .left
{
	stroke-dasharray:40;
}
.navelement:hover .right{
	transform:translateY(-80px);
}
.navelement:hover .left{
	transform:translateY(80px);
}
.navelement:hover .top{
	transform:translateX(-320px);
}
.navelement:hover .bottom{
	transform:translateX(320px);
}
.scaler:hover  {
	transform:scale3d(1,1,1);
	background-color:rgba(44, 161, 108,.8);
}



.secondary,
.tertiary{
	display:none;
}
	
.no_questions {
	
min-height:30%;
max-width:35%;
background-color:rgba(255,255,255,1);
margin:auto;
border-radius:1em;
z-index:10;
display:none;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
height:300px;
   
	
}
.whole_page{
     position:absolute;
	height:100%;
	z-index:1;
	width:100%;
	background-color:rgba(0,0,0,0.9);
	display:none;



	
}
 .alert{
	font-size:1.3em;
	padding:10px 30px;
	margin-top:2%;
 }

 .panel{
	 display:flex;
	 justify-content:center;
	 padding-bottom:5%;
	 padding-left:0;
 }
 .panel a{
	 color:white;
	 text-decoration:none;
	 padding:8px 25px;
	 border:1px solid rgba(0,0,0,0);
	 transition:1s;
	 margin-right:10px;
	 background-color:rgb(0, 102, 255);
	 margin-bottom:10px;
	 
 }
 .panel a:hover {
	 background-color:rgb(0, 205, 188);
 }
  .navigation{
	 display:flex;
	 align-items:stretch;
 }
.exclmark{
	display:block;
	width:100px;
	height:100px;
	margin:0 auto;
	margin-top:10px;
}
 footer{
	 width:100%;
	 height:70px;
	 position:fixed;
	 bottom:0;
	 background-color:rgba(59, 176, 119, 1);
	
	
 }
 footer .copyright {
	 text-align:center;
	 font-size:0.85em;
	 color:#fff;
	 flex-grow:1;
	 margin-top:20px;
 }
 .mail{
	 width:50px;
	 right:0;
	 top:0;
	transition:.5s;
	opacity:0.5;
	 
	 
 }
 .malemg{
	     width: 50px;
    margin-right: 20px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
 }
 .malemg:hover .mail{
	 opacity:1;
	 
 }
@media only screen and (max-width: 1150px) {
	.no_questions{
		min-width:60%;
		
		
		
	}

	}

@media only screen and (min-width:900px) {
	.panel{
		margin-top:5%;
		
	}




.logo{
	display:block;
	width:80px;
	height:100px;
}
}
@media only screen and (max-width: 1378px){
	.no_questions{
		min-width:50%;
		
	}
	.container{
		width:90%;
		right:5%;
	}
	.panel a {
		padding:5px 20px;
	}
	
}
 
 @media only screen and (max-width: 920px) {
	.no_questions{
		
		
		min-width:70%;

	}
	.alert{
		font-size:1.25em;
	}
	.container text{
		font-size:12px
	}
	.scaler{
		transform:scale(0.8);
		transition:.5s;
		margin-right:-15px;
	}
	.scaler:hover{
		transform:scale(0.9);
	}
	.scaler:nth-of-type(2){
		margin-right:0px;
		
	}
	.scaler text{
		font-size:18px;
	}
	.panel{
		margin-top:3.5%;
		
	}
	
	
tspan{
	font-size:20px !important;
}

.container{
	min-width:100%;
	right:0%;
}
}
 @media only screen and (max-width: 770px){
.scaler{
		transform:scale(0.7);
		transition:.5s;
	margin-right:-35px;	
	}
	.scaler:nth-of-type(2){
	margin-right:-10px;	
	}
	
	.scaler:hover{
		transform:scale(0.8);
	}	
	.scaler text{
		font-size:18px;
	}

	.no_questions{
		
		
		min-width:80%;

	}
	 .panel a {
		padding:6px 13px;
		font-size:0.9em;
	}
	.alert{
		font-size:1.15em;
	}
	tspan{
	font-size:15px !important;
}
 }
 @media only screen and (min-width:1300px){
	 .scaler:nth-of-type(2){
	margin-right:0;
}
.navigation li:nth-of-type(2){
	
}
 }
 

